{% load static %}
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Acme|Nosifer|Permanent+Marker|Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <title>What Are you Looking At</title>
</head>


<body>
<header>
        <nav class="navbar fixed-top navbar-dark navbg">
                <span><a class="toplink" href="{% url 'home' %}"><i class="fas fa-ice-cream"></i> Menu</a></span>
                <span><a class="toplink" href="{% url 'featured_menu_list' %}"><i class="fas fa-ice-cream"></i> Featured</a></span>
                <span><a class="toplink" href="{% url 'available_menu_list' available='Weekly' %}"><i class="fas fa-ice-cream"></i> Weekly</a></span>
                <span><a class="toplink" href="{% url 'available_menu_list' available='Seasonal' %}"><i class="fas fa-ice-cream"></i> Seasonal</a></span>
                <span><a class="toplink" href="{% url 'flavor_new' %}"><i class="fas fa-ice-cream"></i> Add Flavor</a></span>

                <span class="icons">
                    <span>Follow Us On Social Media</span>
                    <span><a href="#"><i class="fab fa-twitter-square"></i></a></span>
                    <span><a href="#"><i class="fab fa-facebook-square"></i></a></span>
                    <span><a href="#"><i class="fab fa-instagram"></i></a></span>
                    <span><a href="#"><i class="fas fa-map-marker-alt"></i></a></span>
                </span>

        </nav>
    </header>

<main class="main">

    <h1 class="utter">Utterly Delicious<br> Ice Cream</h1>
        <div>
            {% block content %} {% endblock content %}
        </div>
    <footer class="footer">
        <div class="posrel">
            <span>© 2019 Copyright: Taylor Whitfield</span>
        </div>
    </footer>
</main>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>