{% extends 'base.html' %}

{%block content%}
        <div class="squaredetail">
            <h1 class="flavorlink">{{menu.flavor}}</h1>
            <div class="avail">
                <div class="detailinfo">
                <span>{{menu.available}}/</span>
                <datetime>{{menu.date_churned}}</datetime>
                <span>({{menu.base}})</span>
                </div>
                <img src="{{menu.model_pic}}">
                <p class="description"><i class="fas fa-ellipsis-h"></i> {{menu.description}}</p>
                <span><a class="flavorlink" href="{% url 'edit_flavor' menu.pk %}">Edit Flavor</a></span>


            </div>
        </div>


{%endblock content%}